<h1>Index Page</h1>

<div>
  <%= link_to 'Patient Portal', patient_session_path %>
</div>

or

<div>
  <%= link_to 'Provider Portal', provider_session_path %>
</div>

or

<div>
  <h1>sign up!</h1>
</div>