
.doctor_search {
  border: 1px solid black;
  border-radius: 15px;
  width: 700px;
  background-color: #f0f0f0;
  margin: 20px auto 20px auto;

  padding: 20px;

  font-family: arial, helvetica, sans-serif;
  font-size:26px;
  line-height: 36px;
}

.name {
  font-size: 40px;
}
